/*CSS Bulles BD*/

.oval-thought-border {
    position: relative !important;
    padding: 10px 30px !important;
    margin: 1em auto 80px !important;
    border: 10px solid #000000 !important;
    text-align: center !important;
    font-size: 2.5vw !important;
    color: #333 !important;
    background: #fff !important;
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-radius: 200px !important;
    -moz-border-radius: 200px !important;
    border-radius: 200px !important;
}

/* creates the larger circle */
.oval-thought-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: 100px;
    width: 50px;
    height: 50px;
    border: 10px solid #000000;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}

/* creates the smaller circle */
.oval-thought-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -60px;
    right: 175px;
    width: 25px;
    height: 25px;
    border: 10px solid #000000;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /* reduce the damage in FF3.0 */
    display: block;
}